body {
  margin: 0;
  height: 100vh;
  font-weight: 100;
  background: radial-gradient(#000000, #000000);
}

.topnav {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.301);
  top: -50px;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  margin: auto;
  transition: 0.4s;
  cursor: pointer;
  display: block;
}

.topnav a:hover {
  background-color: rgb(250, 250, 250);
  color: black;
  margin: auto;
  transition: 0.4s;
  cursor: pointer;
}

.topnav a.split {
  float: right;
  background-color: #ffffff;
  color: #4ba84b;
}
.topnav a.split:hover {
  float: right;
  background-color: #4ba84b;
  color: #ffffff;
}

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 1080px;
  height: 720px;
}

h1{
  color:white;
  text-align: center;
}
.image {
  width: 400px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

footer{
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  text-align:center;
  border-top: 2px #ffffff solid;
  bottom:0;
  width:100%;
  height:60px; 
  padding-top: 20px;
  background:rgba(122, 122, 122, 0.253);
}
