body {
  margin: 0;
  font-weight: 100;
  background-image: url("https://source.unsplash.com/1600x900/?brick,wall");
  background-repeat: no-repeat;
  background-size: cover;
}

.topnav {
  overflow: hidden;
  background: rgb(0, 0, 0);
  top: -50px;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  margin: auto;
  transition: 0.4s;
  cursor: pointer;
  display: block;
}

.topnav a:hover {
  background-color: rgb(250, 250, 250);
  color: black;
  margin: auto;
  transition: 0.4s;
  cursor: pointer;
}

.topnav a.split {
  float: right;
  background-color: #ffffff;
  color: #4ba84b;
}
.topnav a.split:hover {
  float: right;
  background-color: #4ba84b;
  color: #ffffff;
}

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 1080px;
  height: 720px;
  border: solid 2px white;
  background: black;
}

h1 {
  color: white;
  text-align: center;
  text-shadow: 2px 1px 6px #000000;
}
.image {
  width: 300px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

footer {
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  text-align: center;
  border-top: 2px #ffffff solid;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-top: 20px;
  background: rgb(0, 0, 0);
}
